:root {
    --DarkBlue: #0d53fc;
    --Purple: #3e3ef4;
    --LightBlue: #4198f7;
    --Green: #49c496;

    --DarkerBlue1: #1e3058;
    --DarkerBlue2: #152443;

    --Black: #263446;
    --DarkGray: #88949e;
    --LightGray: #c6cdd8;
    --OffWhite: #dee5f1;
    --White: #ffffff;
}

* {
    padding: 0px;
    margin: 0;
    text-decoration: none;
    font-family: sans-serif;
    color: var(--Black);
}
hr {
    height: 1px;
    background-color: var(--LightGray);
    border: none;
}
.disable-select {
    user-select: none; /* supported by Chrome and Opera */
   -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
   -moz-user-select: none; /* Firefox */
   -ms-user-select: none; /* Internet Explorer/Edge */
}
a, img {
    -webkit-user-drag: none;
}


.sidebar {
    float: left;
    position: fixed;

    display: flex;
    flex-direction: column;

    width: 300px;
    height: 100%;

    background-color: var(--White);
}

.sidebar_active {
    background-color: var(--DarkBlue);
    transition: 0.4s;
}
.sidebar_active span, .sidebar_active p{
    color: var(--White);
    transition: 0.4s;
}
.sidebar a {
    padding: 5px;
    transition: 0.4s;
}
.sidebar_hover:hover {
    background-color: var(--DarkBlue);
}
.sidebar_hover:hover span, .sidebar_hover:hover p{
    color: var(--White);
}

.title {
    display: flex;
    flex-direction: row;
}
.logo_name {
    display: flex;
    flex-direction: row;
}
.logo {
    width: 60px;
    aspect-ratio: 1/1;
    justify-items: center;
    padding: 5px;
}
.logo img {
    width: 100%;
}
.brand_info {
    display: flex;
    flex-direction: column;

    justify-content: center;
}
.name h1 {
    font-size: 30px;
}
.description p {
    font-size: 15px;
    font-weight: lighter;
}

.sidebar_element{
    display: flex;
    flex-direction: row;
    height: 40px;
}
.sidebar_element span{
    padding: 5px 25px 5px 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}
.sidebar_element p{
    font-size: 20px;
    font-weight: bold;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.float-bottom {
    width: 100%;
    position: absolute;
    bottom: 0;
}
.help span, .help p{
    color: var(--DarkGray);
}
.profile {
    position: relative;

    display: flex;
    flex-direction: row;
}
.profile_link a {
    display: flex;
    flex-direction: row;
}
.profile_pic {
    width: 45px;
    aspect-ratio: 1/1;
    justify-items: center;
    padding: 5px 10px 5px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.profile_pic img {
    width: 100%;
    border-radius: 50%;
}
.profile_info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.profile_info h1 {
    font-size: 20px;
}
.expand_icon {
    position: absolute;
    right: 10px;
    top: 30%;
}

@media (max-width: 1000px) and (min-width: 801px){
    .sidebar {
        width: 100px;
        align-items: center;
    }
    .brand_info {
        display: none;
    }
    .sidebar_element {
        width: 90px;
        justify-content: center;
    }
    .sidebar_element p{
        display: none;
    }
    .sidebar_element span {
        font-size: 30px;
    }
    .help span {
        font-size: 30px;
    }
    .profile_info {
        display: none;
    }
    .expand_icon {
        display: none;
    }
}

@media (max-width: 800px){
    .sidebar {
        float: none;
        width: 100%;

        text-align: center;
        justify-content: center;

        flex-direction: row;
        height: 80px;

        bottom: 0;
    }
    .logo_name {
        display: none;
    }
    .sidebar_element {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        width: 33.3%;
    }
    .sidebar_element span{
        padding: 5px 0px 5px 0px;
        font-size: 24px;
    }
    .sidebar_element p{
        font-size: 12px;
        font-weight: normal;
    }
    .float-bottom {
        display: none;
    }
}


.page {
    padding-left: 300px;
    min-height: 100vh;
    background-color: var(--OffWhite);
}
@media (max-width: 1000px) and (min-width: 801px){
    .page {
        padding-left: 100px;
    }
}
@media (max-width: 800px){
    .page {
        padding-left: 0px;
    }
}

.page_title {
    height: 84px;
    border-bottom: solid 1px var(--LightGray);

    display: flex;
    flex-direction: row;
    align-items: center;
}
.page_title span {
    font-size: 35px;
    color: var(--DarkBlue);
    padding-left: 20px;
}
.page_title h1 {
    padding: 10px;
    font-size: 30px;
}

.page-content {
    margin: 25px;
}
.row {
    display: flex;
    flex-direction: row;
}
.column {
    display: flex;
    flex-direction: column;
}

.stats {
    background-color: var(--DarkerBlue1);

    width: 50%;
    padding: 30px 15px;
    
    display: flex;
    flex-direction: column;
}
.greeting {
    font-size: 40px;
    color: var(--White);
    padding-bottom: 30px;
}
.greeting span {
    font-weight: normal;
    color: var(--White);
}
.stats_title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.stats_title h1 {
    font-size: 16px;
    font-weight: normal;
    color: var(--White);
}
.stats_type {
    background-color: var(--DarkerBlue2);
    padding: 5px;
    border-radius: 10px;
}
.stats_type button {
    background-color: var(--DarkerBlue2);
    color: var(--White);

    font-size: 14px;
    font-weight: bold;

    width: 80px;
    height: 40px;

    border: none;
    border-radius: 10px;
}
.stats_type button:hover {
    background-color: var(--White);
    color: var(--DarkerBlue2);
}
.stats_active_type {
    background-color: var(--White);
    color: var(--DarkerBlue2);
}
.stats_data {
    padding: 20px 15px;
    height: 380px;
}
.graph_line {
    padding-top: 30px;
}
.graph_line p {
    color: var(--DarkGray);
}
.graph_line hr {
    background-color: var(--DarkGray);
}

.appointment_section {
    background-color: var(--White);
    width: 50%;
    margin: 0px 10px;
    padding: 0px 20px;

    display: flex;
    flex-direction: column;
}
.appointments {
    display: flex;
    flex-direction: row;

    border-bottom: solid 1px var(--LightGray);
}


