{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block sidebar %}
    <a href="/" class="sidebar_hover sidebar_element">
        <span class="material-icons md-48">speed</span>
        <p>Dashboard</p>
    </a>
    <a href="" class="sidebar_hover sidebar_element">
        <span class="material-icons md-48">calendar_month</span>
        <p>Calendar</p>
    </a>
    {% if session["user_type"] == 'Doctor' %}
        <a href="/Patients" class="sidebar_hover sidebar_element">
            <span class="material-icons md-48">group</span>
            <p>Patient list</p>
        </a>
    {% endif %}
    <a href="" class="sidebar_hover sidebar_element">
        <span class="material-icons md-48">chat</span>
        <p>Messages</p>
    </a>
    {% if session["user_type"] == 'Doctor' %}
        <a href="" class="sidebar_hover sidebar_element">
            <span class="material-icons md-48">payments</span>
            <p>Payment information</p>
        </a>
    {% endif %}
    <a href="/Settings" class="sidebar_active sidebar_hover sidebar_element">
        <span class="material-icons md-48">settings</span>
        <p>Settings</p>
    </a>
{% endblock %}

{% block main %}
    <form method="POST" action="/EditInfo" class="login-form" enctype="multipart/form-data">
        {% if success %}<small id="success">{{ success }}</small>{% endif %}
        <h1>Username</h1>
        {% if error1 %}<small id="error">{{ error1 }}</small>{% endif %}
        <div>
            <input class="text-field" name="username" id="username" type="text" disabled value="{{ data["username"] }}" required>
            <a id="button" onclick="editUsername()"><span class="material-icons md-48">edit</span></a>
        </div>
        <hr>
        <br>

        <h1>Full name</h1>
        <div>
            <input class="text-field" name="full_name" id="full_name" type="text" disabled value="{{ data["full_name"] }}" required>
            <a id="button" onclick="editName()"><span class="material-icons md-48">edit</span></a>
        </div>
        <hr>
        <br>

        <h1>Email address</h1>
        <div>
            <input class="text-field" name="email" type="email" disabled value="{{ data["email"] }}" required>
            <a id="button" href="/ChangeEmail"><span class="material-icons md-48">edit</span></a>
        </div>
        <hr>
        <br>

        <h1>Phone number</h1>
        {% if error2 %}<small id="error">{{ error2 }}</small>{% endif %}
        <div>
            <input class="text-field" name="phone_number" id="phone_number" type="number" disabled value="{{ data["phone_number"] }}" required>
            <a id="button" onclick="editPhoneNumber()"><span class="material-icons md-48">edit</span></a>
        </div>
        <hr>
        <br>

        <h1>City</h1>
        <div>
            <select disabled class="text-field select" name="city" id="city">
                <option selected disabled value="{{ data["city"] }}">{{ data["city"] }}</option>
                {% for city in CITIES %}
                    <option value="{{ city }}">{{ city }}</option>
                {% endfor %}
            </select>
            <a id="button" onclick="editCity()"><span class="material-icons md-48">edit</span></a>
        </div>
        <hr>
        <br>

        <h1>Date of birth</h1>
        {% if error3 %}<small id="error">{{ error3 }}</small>{% endif %}
        <div>
            <input class="text-field" name="date_of_birth" id="date_of_birth" type="date" disabled value="{{ data["date_of_birth"] }}" required>
            <a id="button" onclick="editDateOfBirth()"><span class="material-icons md-48">edit</span></a>
        </div>
        <hr>
        <br>

        <h1>Profile picture</h1>
        <div id="profile_picture_container">
            <div id="profile_picture"><img alt="Profile Picture" src="/static/media/profile_picture.png"></div>
            <input hidden class="text-field" name="profile_picture[]" type="file" id="profile_pic">
            <label for="profile_pic">
                <a id="button"><span class="material-icons md-48">edit</span></a>
            </label>
        </div>
        <br>
        <br>
        <br>

        <div>
            <input class="button" type="submit" value="Update information">
        </div>
    </form>
    <script>
        var fileInput = document.getElementById('profile_pic');
        fileInput.onchange = function() {
            document.getElementById('profile_pic').removeAttribute('hidden');
            document.getElementById('profile_picture').setAttribute("style", "display: none;");
            var filePath = fileInput.value;
            fileNameArray = filePath.split("\\");
            fileName = fileNameArray[fileNameArray.length-1];
        
            // Allowed file types
            var allowedExtensions =["jpg", "jpeg", "png"];
            
            fileExtention = getFileExtention(fileName);

            if (fileExtention != allowedExtensions[0] && fileExtention != allowedExtensions[1] && fileExtention != allowedExtensions[2]) {
                alert('File type is not supported\nOnly (jpg, jpeg, png) files are supported');
                document.getElementById('file').value = null;
            }
        }
        function getFileExtention(filename) {
            return filename.split('.').pop();
        }

        function editUsername() {
            document.getElementById('username').removeAttribute('disabled');
        }
        function editName() {
            document.getElementById('full_name').removeAttribute('disabled');
        }
        function editPhoneNumber(){
            document.getElementById('phone_number').removeAttribute('disabled');
        }
        function editCity(){
            document.getElementById('city').removeAttribute('disabled');
        }
        function editDateOfBirth(){
            document.getElementById('date_of_birth').removeAttribute('disabled');
        }
    </script>
{% endblock %}

{% block style %}
    small {
        margin-bottom: 20px;
        font-weight: bold;
    }
    #error {
        color: red;
    }
    #success {
        color: green;
    }

    #button {
        cursor: pointer;
        border: 0;
        background: none;
        margin: 0 10px;
        padding: 10px 0;
    }

    .login-form {
        display: flex;
        flex-direction: column;
        padding: 25px;
    }

    .login-form h1 {
        margin-bottom: 10px;
        font-size: 35px;
    }

    .login-form p {
        margin-top: 10px;
        font-size: 14px;
    }

    .text-field {
        width: 200px;
        height: 20px;

        padding: 10px;
        margin-bottom: 10px;


        border: 1px solid #0d53fc;
        border-radius: 4px;
    }
    .select {
        height: 40px;
    }

    .button {
        cursor: pointer;
        border: 0;
        border-radius: 4px;
        font-weight: 600;
        margin: 0 10px;
        width: 200px;
        padding: 10px 0;
        box-shadow: 0 0 20px rgba(13, 83, 252, 0.2);
        transition: 0.4s;

        color: rgb(104, 85, 224);
        background-color: rgba(255, 255, 255, 1);
        border: 1px solid #0d53fc;
    }

    .button:hover {
        color: white;
        width:;
        box-shadow: 0 0 20px rgba(13, 83, 252, 0.6);
        background-color: #0d53fc;
    }

    #profile_picture_container {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    #profile_picture {
        width: 100px;
        height: 100px;
        padding-right: 25px;
    }
    #profile_picture img {
        width: 100%;
        height: 100%;
    }
{% endblock %}