{% extends "layout.html" %}

{% block title %}
Home
{% endblock %}

{% block sidebar %}
<a href="/" class="sidebar_hover sidebar_element">
    <span class="material-icons md-48">speed</span>
    <p>Dashboard</p>
</a>
{% if session["user_type"] == 'Doctor' %}
<a href="/Patients" class="sidebar_hover sidebar_element">
    <span class="material-icons md-48">group</span>
    <p>Patient list</p>
</a>
{% endif %}
{% if session["user_type"] == 'Patient' %}
<a href="/Appointments" class="sidebar_hover sidebar_element">
    <span class="material-icons md-48">calendar_month</span>
    <p>My Appointments</p>
</a>
{% endif %}
<a href="/Settings" class="sidebar_hover sidebar_element">
    <span class="material-icons md-48">settings</span>
    <p>Settings</p>
</a>
{% endblock %}

{% block main %}
<div id="title">
    <div><span class="material-icons md-48">help</span></div>
    <h1>Need Help?</h1>
    
</div>
<hr>
<div id="page">
    <h1>We are here to help</h1>
    <div id="content">
        <div class="image_container">
            <img src="/static/media/help_vector.png">
        </div>
        <form action="/Help" method="POST" class="login-form">
            <div id="form_l1">
                <input class="text-field" name="name" type="text" placeholder="Full Name" required>
                <input class="text-field" name="email" type="email" placeholder="Email" required>
            </div>
            <div id="form_l2">
                <input class="text-field" name="subject" type="text" placeholder="Subject" required>
            </div>
            <div id="form_l3">
                <textarea class="text-field" name="message" type="text" placeholder="Message" required></textarea>
            </div>
            <div id="form_l4">
                <input class="button" type="submit" value="Send">
            </div>
        </form>
    </div>
</div>
{% endblock %}

{% block style %}
#title {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 25px;
}
#title h1, #title div span {
    font-size: 35px;
}
#title div span {
    color: #0d53fc;
    margin-right: 10px;
}

#page {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#page h1 {
    font-size: 45px;
    margin: 20px 0px 50px 0px;
}
#content {
    display: flex;
    flex-direction: row;
}
.image_container {
    margin: 0 auto;
    width: 35vw;
    padding-right: 25px;
}
.image_container img {
    width: 100%;
    
}
#content form {
    width: 35vw;
}

#form_l1 input {
    width: 250px;
}
#form_l2 input {
    width: 527px;
}
#form_l3 textarea {
    width: 527px;
    height: 150px;
    resize: none;
}
@media (max-width: 1570px) and (min-width: 1301px) {
    #form_l1 input {
        width: 200px;
    }
    #form_l2 input {
        width: 430px;
    }
    #form_l3 textarea {
        width: 430px;
        height: 150px;
        resize: none;
    }
}
@media (max-width: 1300px) {
    #content {
        flex-direction: column;
    }
    .image_container {
        min-width: 400px;
        width: 50vw;
        padding-bottom: 25px;
        padding-right: 0px;
    }
    #content form {
        width: 100%;
    }

    #form_l1 input {
        width: 200px;
    }
    #form_l2 input {
        width: 430px;
    }
    #form_l3 textarea {
        width: 430px;
        height: 150px;
        resize: none;
    }
}

.login-form {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}
.text-field {
    height: 20px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #0d53fc;
    border-radius: 4px;
}
.button {
    cursor: pointer;
    border: 0;
    border-radius: 4px;
    font-weight: 600;
    margin: 0 10px;
    width: 200px;
    padding: 10px 0;
    box-shadow: 0 0 20px rgba(13, 83, 252, 0.2);
    transition: 0.4s;
    
    color: rgb(104, 85, 224);
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid #0d53fc;
}
.button:hover {
    color: white;
    width:;
    box-shadow: 0 0 20px rgba(13, 83, 252, 0.6);
    background-color: #0d53fc;
}
{% endblock %}

<script>

</script>