<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <style>
        {% block style %}
        {% endblock %}

        {% if session["user_type"]=='Patient' %}
        @media (max-width: 800px) {
            .sidebar_element {
                width: 25%;
            }
        }
        {% endif %}
    </style>

    <title>{% block title %}{% endblock %}</title>
</head>

<body>
    {% if session["user_id"] %}
    <header class="sidebar">
        <div class="title">
            <a href="/" class="logo_name">
                <div class="logo">
                    <img src="/static/media/logo.png" alt="logo">
                </div>
                <div class="brand_info">
                    <div class="name">
                        <h1>CLIMAN</h1>
                    </div>
                    <div class="description">
                        <p>Clinic management tool</p>
                    </div>
                </div>
            </a>
        </div>
        {% block sidebar %}{% endblock %}

        <div class="float-bottom">
            <a href="/Help" class="help sidebar_element">
                <span class="material-icons md-48">help</span>
                <p>Help ?</p>
            </a>
            <hr>
            <div class="profile">
                <div class="profile_link">
                    <a href="/Profile-{{ session["user_id"] }}">
                        <div class="profile_pic"><img alt="Profile Picture" src="/{{ session["picture_path"] }}">
                        </div>
                        <div class="profile_info">
                            <h1>{{ session["name"] }}</h1>
                            <p>{{ session["user_type"] }}</p>
                        </div>
                    </a>
                </div>
                <div class="expand_icon">
                    <a href="/Logout"><span class="material-icons md-48">logout</span></a>
                </div>
            </div>
        </div>
    </header>
    {% endif %}

    <section class="page">
        {% block main %}{% endblock %}
    </section>

</body>

</html>