{% extends "layout.html" %}

{% block title %}
Profile
{% endblock %}

{% block sidebar %}
<a href="/" class="sidebar_active sidebar_hover sidebar_element">
    <span class="material-icons md-48">speed</span>
    <p>Dashboard</p>
</a>
<a href="/Patients" class="sidebar_hover sidebar_element">
    <span class="material-icons md-48">group</span>
    <p>Patient list</p>
</a>
<a href="/Settings" class="sidebar_hover sidebar_element">
    <span class="material-icons md-48">settings</span>
    <p>Settings</p>
</a>
{% endblock %}

{% block main %}
<section id="area">
    <header>
        <div id="profile_pic"><img alt="Profile Picture" src="/static/media/profile_picture.png"></div>
        <h1>{{ session["name"] }}</h1>
    </header>
</section>
{% endblock %}

{% block style %}
#area {
padding: 25px;
}
#area header {
display: flex;
flex-direction: row;
align-items: center;
}
#area header h1 {
margin-left: 25px;
font-size: 50px;
}

#profile_pic {
width: 200px;
height: 200px;
}
#profile_pic img {
width: 100%;
height: 100%;
border-radius: 50%;
border: 2px solid #0d53fc;
padding: 2px;
}

@media (max-width: 600px){
#area header {
display: flex;
flex-direction: column;
align-items: center;
}
#area header h1 {
margin-left: 0px;
margin-top: 25px;
font-size: 50px;
}
}
{% endblock %}