{% extends "layout.html" %}

{% block title %}
Home
{% endblock %}

{% block sidebar %}
<a href="/" class="sidebar_active sidebar_hover sidebar_element">
    <span class="material-icons md-48">speed</span>
    <p>Dashboard</p>
</a>
<a href="/Patients" class="sidebar_hover sidebar_element">
    <span class="material-icons md-48">group</span>
    <p>Patient List</p>
</a>
<a href="/Settings" class="sidebar_hover sidebar_element">
    <span class="material-icons md-48">settings</span>
    <p>Settings</p>
</a>
{% endblock %}

{% block main %}
<div id="title">
    <div><span class="material-icons md-48">help</span></div>
    <h1>Need Help?</h1>
    
</div>
<hr>
<div id="page">
    <img alt="correct" src="/static/media/correct.png">
    <h1>Thank you for contacting us.</h1>
    <p>We appreciate that you've taken the time to write us.</p>
    <p>We'll get back to you very soon.</p>
</div>
{% endblock %}

{% block style %}
#title {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 25px;
}
#title h1, #title div span {
    font-size: 35px;
}
#title div span {
    color: #0d53fc;
    margin-right: 10px;
}

#page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 90vh;
}
#page img {
    width: 200px;
    padding-bottom: 20px;
}
#page h1 {
    font-size: 40px;
    padding-bottom: 10px;
}
#page p {
    font-size: 18px;
    padding-bottom: 10px;
}
{% endblock %}

<script>

</script>