{% extends "layout.html" %}

{% block title %}
Home
{% endblock %}

{% block sidebar %}
<a href="/" class="sidebar_active sidebar_hover sidebar_element">
    <span class="material-icons md-48">speed</span>
    <p>Dashboard</p>
</a>
<a href="/Patients" class="sidebar_hover sidebar_element">
    <span class="material-icons md-48">group</span>
    <p>Patient list</p>
</a>
<a href="/Settings" class="sidebar_hover sidebar_element">
    <span class="material-icons md-48">settings</span>
    <p>Settings</p>
</a>
{% endblock %}

{% block main %}
<form method="POST" action="/VerifyNewEmail/{{ email }}" class="login-form">
    <h1>Enter the 6-digit code we sent you to change your email address</h1>
    <small class="error">{{ error }}</small>
    <small class="success">{{ success }}</small>
    <div>
        <input class="text-field" name="code" type="number" placeholder="Code">
    </div>
    <div>
        <input class="button" type="submit" value="Verify">
    </div>
</form>
{% endblock %}

{% block style %}
.error {
color: red;
margin-bottom: 20px;
}
.success {
color: green;
margin-bottom: 20px;
}

.login-form {
display: flex;
flex-direction: column;
text-align: center;
justify-content: center;
height: 100vh;
}

.login-form h1 {
margin-bottom: 20px;
font-size: 30px;
}

.login-form p {
margin-top: 10px;
font-size: 14px;
}

.text-field {
width: 200px;
height: 20px;

padding: 10px;
margin-bottom: 10px;

border: 1px solid #0d53fc;
border-radius: 4px;
}

.button {
cursor: pointer;
border: 0;
border-radius: 4px;
font-weight: 600;
margin: 0 10px;
width: 200px;
padding: 10px 0;
box-shadow: 0 0 20px rgba(13, 83, 252, 0.2);
transition: 0.4s;

color: rgb(104, 85, 224);
background-color: rgba(255, 255, 255, 1);
border: 1px solid #0d53fc;
}

.button:hover {
color: white;
width:;
box-shadow: 0 0 20px rgba(13, 83, 252, 0.6);
background-color: #0d53fc;
}
{% endblock %}