{% extends 'layout.html' %} {% block title %}CLIMAN Dashboard{% endblock %} {%
block content %}
<div class="p-5">
  <h1 class="text-3xl font-semibold">Clinic management tool</h1>
  <p class="mt-3 text-gray-600">Welcome {{name}}</p>
  <p class="mt-3 text-gray-600 w-96">
    CLIMAN revolutionizes clinic management, empowering doctors to deliver
    superior patient care by facilitating seamless data sharing among healthcare
    professionals. Additionally, it provides robust appointment management
    capabilities for both doctors and patients.
  </p>
</div>
{% endblock %}
