<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
      rel="stylesheet"
    />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Register</title>
  </head>
  <body class="bg-gray-100 flex justify-center items-center h-screen">
    <div class="bg-white p-8 rounded-lg shadow-lg">
      <form action="/register" method="POST" enctype="multipart/form-data">
        <div class="mb-4">
          <img
            src="{{ url_for('static', filename='media/logo-text-color.png') }}"
            alt="Climan Logo"
            class="w-64 mx-auto"
          />
        </div>
        {% if error %}
        <div class="mb-4 text-red-500 text-center">{{ error }}</div>
        {% endif %}
        <div class="mb-4">
          <input
            class="border border-gray-300 rounded-md px-3 py-2 w-full focus:outline-none focus:ring focus:border-blue-500"
            id="full_name"
            type="text"
            name="full_name"
            placeholder="Full Name"
            required
          />
        </div>
        <div class="mb-4">
          <input
            class="border border-gray-300 rounded-md px-3 py-2 w-full focus:outline-none focus:ring focus:border-blue-500"
            id="email"
            type="email"
            name="email"
            placeholder="Email"
            required
          />
        </div>
        <div class="mb-4 flex flex-row gap-1">
          <input
            class="border border-gray-300 rounded-md px-3 py-2 w-full focus:outline-none focus:ring focus:border-blue-500"
            id="password"
            type="password"
            name="password"
            placeholder="Password"
            required
          />
          <input
            class="border border-gray-300 rounded-md px-3 py-2 w-full focus:outline-none focus:ring focus:border-blue-500"
            id="confirm_password"
            type="password"
            name="confirm_password"
            placeholder="Confirm Password"
            required
          />
        </div>
        <div class="mb-4 flex flex-col items-center">
          <button
            type="submit"
            class="w-full bg-blue-500 text-white px-4 py-2 rounded-md hover:bg-blue-600 focus:outline-none focus:bg-blue-600 mx-auto"
          >
            Register
          </button>
        </div>
        <div class="text-center">
          <a href="/login" class="text-gray-400 hover:text-blue-500"
            >Already have an account?</a
          >
        </div>
      </form>
    </div>
  </body>
</html>
